$scale:1.618;
.popupBackground {
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#131313, 0.5);
    z-index: 100;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.litter {
    margin: 6em auto;
    max-width: 860px;
    padding-top: em(41, 14);
    padding-bottom: em(84, 14);
    @include breakpoint($xs-up) {
        padding-left: em(80, 14);
        padding-right: em(80, 14);
    }
    @include breakpoint($xs) {
        padding-left: 2.5em;
        padding-right: 1.5em;
    }
    &__title {
        letter-spacing: 0.027em;
        line-height: 1.5;
        @include breakpoint($xs-up) {
            margin-bottom: 3.15em;
        }
        @include breakpoint($xs) {
            margin-bottom: em(3.15*24/$scale, 24);
        }
    }
}

.userPopupAvatar {
    @include breakpoint($xs-up) {
        margin-right: 6.2em;
    }
    @include breakpoint($xs) {
        margin-right: em(6.2*14/$scale, 14);
    }
}

.popupUserInfo {
    .userPanelMeta {
        @include breakpoint($sm-less) {
            margin-top: 0;
        }
    }
}

.userPopupButtons {
    min-width: 257px;
    &__styledButton {
        height: 39px;
        min-width: 213px;
        @include breakpoint($xs-up) {
            margin-bottom: 4.15em;
        }
        @include breakpoint($xs) {
            margin-bottom: em(4.15*14/$scale, 14);
        }
    }
}

.userPopupButton {
    &_bottomOffset {
        margin-bottom: 1.35em;
    }
    &__label {
        color: #49505f;
    }
    &__icon {
        color: #969aa4;
        margin-right: 11px;
    }
}

.userPopup {
    &__closeButton {
        right: 10%;
    }
}
