.newUserPostBlock .col-sm-1, [id*="postAvatar"] {
    >*:not(img):not(h3) {
        @include breakpoint($xs) {
            transform: translate(11em, -8em);
        }
    }
}

[id*="postAvatar"] {
    text-align: center;
    background-color: $white;
    margin-top: 1em;
    position: relative;
    order: -1;
    padding: 0;
    width: 68px;
    height: 68px;
    @include breakpoint($xs) {
        margin: 2em auto;
        transform: translateX(-4em);
    }
    &:after {
        content: "";
        position: absolute;
    }
    &,
    img {
        border-radius: 50%;
    }
    h3 {
        @include breakpoint($xs) {
            text-align: left;
            transform: translate(8.5em, -7em);
        }
    }
    img {
        min-height: 100%;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

.podium-avatar {
    display: flex !important;
}

[id*="postAvatar"],
.userAvatar {
    h3 {
        white-space: nowrap;
    }
}

.userAvatar,
.podium-post [id*="postAvatar"] {
    z-index: 1;
}

.userAvatar {
    &_big {
        width: 85px;
        height: 85px;
    }
    &_small {
        width: 68px;
        height: 68px;
    }
}

.userAvatar {
    &__title {
        margin-top: 1.15em;
    }
    &__border {
        width: 160%;
        height: 160%;
        top: -30%;
        left: -30%;
        transform: rotate(35deg) rotateX(180deg);
        z-index: -1;
    }
    &_big {
        width: 85px;
        height: 85px;
    }
}

.raitingBorder {
    stroke-linecap: round;
    fill: none;
    stroke-width: 6;
    stroke-dasharray: 310;
    cx: 50;
    cy: 50;
    r: 40;
    &_black {
        stroke: #C2C8CE;
        stroke-dashoffset: 135.717;
    }
    &_main {
        stroke-dashoffset: 340;
    }
    &__title {
        margin-top: 1.15em;
    }
    &__border {
        width: 160%;
        height: 160%;
        top: -30%;
        left: -30%;
        transform: rotate(35deg) rotateX(180deg);
        z-index: -1;
    }
}

.raitingBorder {
    stroke-linecap: round;
    fill: none;
    stroke-width: 6;
    stroke-dasharray: 310;
    cx: 50;
    cy: 50;
    r: 40;
    &_black {
        stroke: #C2C8CE;
        stroke-dashoffset: 135.717;
    }
    &_main {
        stroke-dashoffset: 340;
    }
}
